<%

%>
 <script>
    var defaultDropdownValues = <%- JSON.stringify(defaultDropdownValues)  %>
    console.log(defaultDropdownValues);
    Date.prototype.addHours = function(h) {
      this.setTime(this.getTime() + (h*60*60*1000));
      return this;
    }



    $(document).on('change', '.std', function(e){
            // let keyName = '';
            // if($(this).attr('id')==='stdPriorTonnage'){
            //   keyName = 'postDropDownValues'
            // }
            // else{
            //   keyName = 'preDropDownValues'
            // }
            // let dataTargetItem = $(this).attr('data-target-item');
            // dataTargetItem = '#'+dataTargetItem;
            // let dataTargetItemVal = $(dataTargetItem).val();
            // let currentVal = $(this.val();
            // if((currentVal!=='') && dataTargetItemVal==''){
            //      let items = defaultDropdownValues[keyName]
            // }


    })

    $(document).on('click', '#continueToSave', function(e){
      var now = new Date();
      now = now.toLocaleString()
      let expiryDate = new Date().addHours(4)
      expiryDate = expiryDate.toLocaleString()
      var formData = {};
          if($('#view').val()==='standard'){
              formData["viewName"]               =  $('#viewType').val();
              formData["viewType"]               =  $('#timeframesType').val();
              formData["curCostEstStd"]          =  $("#stdCurrentCostVersion").val();
              formData["curTonPeriodStd"]        =  $("#stdCurrentTonnage").val();
              formData["priorCostEstStd"]        =  $("#stdPriorCostVersion").val();
              formData["priorTonPeriodStd"]      =  $('#stdPriorTonnage').val();
              formData["userEmail"]              =  'user@test.com';
              formData["requestedDate"]          =  now;
              formData["expiryDate"]              = '-';
              formData["refreshEta"]              =  expiryDate;
              formData["status"]              =  'Pending';
           }
           else{
             formData["viewName"]               =  $('#viewType').val();
             formData["viewType"]               =  $('#timeframesType').val();
             formData["priorTonTypeForecast"]   =  $("#forecastPriorTonnageType").val();
             formData["priorTonPeriodForecast"]    =  $("#forecastPriorTonnage").val();
             formData["priorCostEstForecast"]        =  $("#forecastPriorCostVersion").val();
             formData["curTonTypeForecast"]      =  $('#forecastCurrentTonnageType').val();
             formData["curTonPeriodForecast"]     = $('#forecastCurrentTonnage').val();
             formData["curCostEstForecast"]     = $('#forecastCurrentCostVersion').val();
             formData["userEmail"]              =  'user@test.com';
             formData["requestedDate"]          =  now;
             formData["expiryDate"]              =  '-';
             formData["refreshEta"]              =  expiryDate;
             formData["status"]              =  'Pending';
           }
           formData["selectedView"] = $('#view').val()

          swal({
            title: "Are you sure?",
            text: "You are about to request for a new custom version!",
            icon: "warning",
              dangerMode: true,
               buttons: {
                 cancel: {
                    text: "Cancel",
                    value: false,
                    visible: true,
                    className: "",
                    closeModal: true,
                  },
                  confirm: {
                    text: "Continue",
                    value: true,
                    visible: true,
                    className: "",
                    closeModal: false
                  }
               },
             })
             .then(name => {
               if (!name) throw null;
               $.ajax({
                   url: '/api/saveVersionInfo',
                   type: 'post',
                   contentType: 'application/json',
                   data:JSON.stringify(formData),
                   success: function( data){
                       console.log("bb",data)

                      if(data.responseType=='success'){
                        swal("New request created successfully!", {
                              icon: "success",
                            }).then(function(){
                              $('#staticBackdrop').modal('hide');
                              location.reload();
                            });
                      }
                      else{
                        swal(data.responseDesc, {
                              icon: "error",
                            });

                      }

                   },
                   error: function(error){
                     swal('Unknown error occured!', {
                           icon: "error",
                      });
                   }
               });
             })
    })


    //View - Division -Std
    //User sets Current Tonnage, based on selected value new value need to be set for Propr Tonnage.
    rederOptionsByCondition = function(dropdownvalues, conditionVal) {
            let optionList = '';
            let disabled = '';
            dropdownvalues.forEach(function(dropdown){
            if(conditionVal === dropdown){
              disabled = 'disabled';
            }
            optionList+='<option value='+dropdown+' '+disabled+'>'+dropdown+'</option>'
          })
          return optionList
    }


    $(document).on('change', '#stdCurrentTonnage', function(e){
      let timeFrameType = $('#timeframesType').val();
      let stdCurrentTonnage = $('#stdCurrentTonnage').val()
      if(timeFrameType==='YTD'){
        //Setting  stdPriorTonnage
        let currentTonnageAttr = stdCurrentTonnage.split("_")
        let stdPriorTonnageYear = (parseInt(currentTonnageAttr[0]) - 1)
        let stdPriorTonnage =stdPriorTonnageYear+'_'+currentTonnageAttr[1];
        $('#stdPriorTonnage').val(stdPriorTonnage)
      }
      if(timeFrameType=='MoM' || timeFrameType=='QoQ'){
        $('#stdPriorTonnage option').remove();
        $('#stdPriorTonnage').removeAttr("disabled");
        $('#stdPriorTonnage').append(rederOptionsByCondition(defaultDropdownValues.preDropDownValues, stdCurrentTonnage));
      }
    })

    $(document).on('change', '#stdCurrentCostVersion', function(e){
      //Setting stdPriorCostVersion
      let stdCostVersion = $('#stdCurrentCostVersion').val()
      let currentCostVersionAttr = stdCostVersion.split("_")
      let stdCurrentCostVersionYear = (parseInt(currentCostVersionAttr[0]) - 1)
      let stdCurrentCostVersion = stdCurrentCostVersionYear+'_P12_StandardCost';
      console.log("stdPriorCostVersion -- ", stdCurrentCostVersion)
      $('#stdPriorCostVersion').val(stdCurrentCostVersion)
    })
    //View - Division - forecasts
    $(document).on('change', '#forecastPriorTonnageType', function(e){
        let forecastPriorTonnageType  = $('#forecastPriorTonnageType').val();
        if(forecastPriorTonnageType==='actual'){
            let currentYear = defaultDropdownValues.postDropDownValues[0]
            currentYear = (parseInt(currentYear.split('_')[0])-1)
            $('#forecastCurrentTonnage').removeAttr("disabled");
            $('#forecastCurrentCostVersion').removeAttr("disabled");
            $("#forecastPriorTonnage option").remove();
            $("#forecastPriorCostVersion option").remove();
            $("#forecastPriorTonnage").append('<option value='+currentYear+'>'+currentYear+'</option>');
            $("#forecastPriorCostVersion").append('<%- rederOptions(defaultDropdownValues.preDropDownValuesForCost) %>')

        }
        else{
          $("#forecastPriorTonnage option").remove();
          $("#forecastPriorCostVersion option").remove();
          $('#forecastCurrentTonnage').removeAttr("disabled");
          $('#forecastCurrentCostVersion').removeAttr("disabled");
          $('#forecastPriorCostVersion').removeAttr("disabled");
          $("#forecastPriorTonnage").append('<option selected="">Choose...</option>');
          $("#forecastPriorCostVersion").append('<option selected="">Choose...</option>');
          $("#forecastPriorTonnage").append('<%- rederOptions(defaultDropdownValues.postDropDownValues) %>')
          $("#forecastPriorCostVersion").append('<%- rederOptions(defaultDropdownValues.postDropDownValuesForCost) %>')
        }
    })

    // function to hancdle forcast prior and current tonnage change  events
    $(document).on('change', '#forecastCurrentTonnage', function(e){
        let forecastCurrentTonnage = $('#forecastCurrentTonnage').val()
        let forecastPriorTonnageType = $('#forecastPriorTonnageType').val();
        if(forecastPriorTonnageType==='forecasts'){
            $('#forecastPriorTonnage option').remove();
            $('#forecastPriorTonnage').removeAttr("disabled");
            $("#forecastPriorTonnage").append('<option selected="">Choose...</option>');
            $('#forecastPriorTonnage').append(rederOptionsByCondition(defaultDropdownValues.postDropDownValues, forecastCurrentTonnage));
        }
    })
    $(document).on('click', '.close', function(){
      $("#view").val("");
      $("#timeframesType").val("");
      $('#newRequestFormModalContent').html('<div style="padding:20px;padding-left:32px; padding-right:32px;"> <div class="txt-title">Note - </div><p class="txt">Only 1 version will be accepted per user per day</p><p class="txt">Requests for already existing default and custom versions will not be processed</p></div>')
    })
 </script>
