<%

%>
 <script>
    var defaultDropdownValues = <%- JSON.stringify(defaultDropdownValues)  %>

    function validateUserInputs(){
      var isValid = true;
      $("#newRequestForm select").each(function() {
              if( $(this).val()==='' ) {
                     $(this).addClass('warning');
                     isValid = false;
               }
               else{
                 $(this).removeClass('warning')
               }

      })
      return isValid;
      }

   $(document).on('change', '#newRequestForm select', function(e){
        if( $(this).val()!=='' ){
          $(this).removeClass('warning')
        }
   })
    $(document).on('click', '#continueToSave', function(e){
      var now = new Date();
      now = now.toLocaleString()
      let expiryDate = new Date()
      expiryDate = expiryDate.setHours(expiryDate.getHours() + 4);
      expiryDate = new Date(expiryDate)
      expiryDate = expiryDate.toLocaleString()

      var formData = {};
          if($('#view').val()==='standard'){
              formData["viewName"]               =  $('#viewType').val();
              formData["viewType"]               =  $('#timeframesType').val();

              formData["priorTonTypeStd"]          =  $("#stdPriorTonnageType").val();
              formData["priorTonPeriodStd"]      =  $('#stdPriorTonnage').val();
              formData["priorCostEstStd"]        =  $("#stdPriorCostVersion").val();

              formData["priorTonTypeStd"]          =  $("#stdCurrentTonnageType").val();
              formData["curTonPeriodStd"]        =  $("#stdCurrentTonnage").val();
              formData["curCostEstStd"]          =  $("#stdCurrentCostVersion").val();

              formData["userEmail"]              =  'user@test.com';
              formData["requestedDate"]          =  now;
              formData["expiryDate"]              =  '-';
              formData["refreshEta"]              =  expiryDate;
              formData["status"]              =  'Pending';
           }
           else{
             formData["viewName"]               =  $('#viewType').val();
             formData["viewType"]               =  $('#timeframesType').val();

             formData["priorTonTypeForecast"]   =  $("#forecastPriorTonnageType").val();
             formData["priorTonPeriodForecast"]    =  $("#forecastPriorTonnage").val();
             formData["priorCostEstForecast"]        =  $("#forecastPriorCostVersion").val();

             formData["curTonTypeForecast"]      =  $('#forecastCurrentTonnageType').val();
             formData["curTonPeriodForecast"]     = $('#forecastCurrentTonnage').val();
             formData["curCostEstForecast"]     = $('#forecastCurrentCostVersion').val();

             formData["userEmail"]              =  'user@test.com';
             formData["requestedDate"]          =  now;
             formData["expiryDate"]              =  '-';
             formData["refreshEta"]              =  expiryDate;
             formData["status"]              =  'Pending';
           }
           formData["selectedView"] = $('#view').val()
          if(validateUserInputs()){
          swal({
            title: "Are you sure?",
            text: "You are about to request for a new custom version!",
            icon: "warning",
              dangerMode: true,
               buttons: {
                 cancel: {
                    text: "Cancel",
                    value: false,
                    visible: true,
                    className: "",
                    closeModal: true,
                  },
                  confirm: {
                    text: "Continue",
                    value: true,
                    visible: true,
                    className: "",
                    closeModal: false
                  }
               },
             })
             .then(name => {
               if (!name) throw null;
               $.ajax({
                   url: '/api/saveVersionInfo',
                   type: 'post',
                   contentType: 'application/json',
                   data:JSON.stringify(formData),
                   success: function( data){
                       console.log("bb",data)

                      if(data.responseType=='success'){
                        swal("New request created successfully!", {
                              icon: "success",
                            }).then(function(){
                              $('#staticBackdrop').modal('hide');
                              location.reload();
                            });
                      }
                      else{
                        swal(data.responseDesc, {
                              icon: "error",
                            });

                      }

                   },
                   error: function(error){
                     swal('Unknown error occured!', {
                           icon: "error",
                      });
                   }
               });
             })
           }
    })

    $(document).on('change', '#stdCurrentTonnage', function(e){
      let timeFrameType = $('#timeframesType').val();
      let view = $('#view').val();
      let stdCurrentTonnage = $('#stdCurrentTonnage').val()
      if(timeFrameType==='YTD' && view === 'standard'){
        $('#stdPriorTonnage').val(stdCurrentTonnage)
      }
      // if(timeFrameType=='MoM' || timeFrameType=='QoQ'){
      //   $('#stdPriorTonnage option').remove();
      //   $('#stdPriorTonnage').removeAttr("disabled");
      //   $('#stdPriorTonnage').append(rederOptionsByCondition(defaultDropdownValues.preDropDownValues, stdCurrentTonnage));
      // }

    })
    $(document).on('change', '#forecastPriorTonnageType', function(e){
      let timeFrameType = $('#timeframesType').val();
      let view  = $('#view').val();
      let forecastPriorTonnageType = $('#forecastPriorTonnageType').val();
      if(forecastPriorTonnageType==='forecasts'){
        $("#forecastPriorTonnage option").remove();
        $("#forecastPriorTonnage").append('<option selected="" value="">Choose...</option>');
        $("#forecastPriorTonnage").append('<%- rederOptions(defaultDropdownValues.postDropDownValues) %>')
      }
      else{
          $("#forecastPriorTonnage option").remove();
          $("#forecastPriorTonnage").append("<option selected value='2020'>2020</option>");
      }
      // if(timeFrameType=='MoM' || timeFrameType=='QoQ'){
      //   $('#stdPriorTonnage option').remove();
      //   $('#stdPriorTonnage').removeAttr("disabled");
      //   $('#stdPriorTonnage').append(rederOptionsByCondition(defaultDropdownValues.preDropDownValues, stdCurrentTonnage));
      // }

    })


    $(document).on('click', '.close', function(){
      $("#view").val("");
      $("#timeframesType").val("");
      $('#newRequestFormModalContent').html('<div style="padding:20px;padding-left:32px; padding-right:32px;"> <div class="txt-title">Note - </div><p class="txt">Only 1 version will be accepted per user per day</p><p class="txt">Requests for already existing default and custom versions will not be processed</p></div>')
    })
 </script>
