<% include ./functions %>


<div class="form-row type-2">
  <div class="col-12 period-type">
  <b>Forecasts View </b>
</div>
  <div class="form-group col-md-4">
  <label for="inputEmail4">Prior Tonnage Type</label>
   <select id="forecastPriorTonnageType" class="form-control">
    <option selected>Choose...</option>
    <option value='actual'>Actual</option>
    <option value='forecasts'>Forecasts</option>
  </select>
</div>
<div class="form-group col-md-4">
  <label for="inputEmail4">Prior Tonnage</label>
   <select id="forecastPriorTonnage" class="form-control" disabled>
       <option selected value=''>Choose...</option>
       <%- rederOptions(defaultDropdownValues.postDropDownValues) %>
  </select>
</div>

<div class="form-group col-md-4">
  <label for="inputEmail4">Prior Cost Version</label>
   <select id="forecastPriorCostVersion" class="form-control" disabled>
       <option selected value=''>Choose...</option>
       <%- rederOptions(defaultDropdownValues.postDropDownValuesForCost) %>
  </select>
</div>

<div class="form-group col-md-4">
  <label for="inputEmail4">Current Tonnage Type</label>
  <select id="forecastCurrentTonnageType" class="form-control" >
   <option value='forecasts' selected>Forecasts</option>
 </select>
</div>
<div class="form-group col-md-4">
  <label for="inputEmail4">Current Tonnage</label>
   <select id="forecastCurrentTonnage" class="form-control" disabled>
      <option selected value=''>Choose...</option>
      <%- rederOptions(defaultDropdownValues.postDropDownValues) %>
  </select>
</div>

<div class="form-group col-md-4">
  <label for="inputEmail4">Current Cost Version</label>
   <select id="forecastCurrentCostVersion" class="form-control">
  <option selected value=''>Choose...</option>
    <%- rederOptions(defaultDropdownValues.postDropDownValuesForCost) %>
  </select>
</div>

</div>
<div class="modal-footer px-0">
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  <button type="button" class="btn btn-primary" id="continueToSave">Continue</button>
</div>
<% include ./add_new_modal_script %>
