<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
<div class="modal-dialog modal-lg modal-dialog-scrollable">
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="staticBackdropLabel"><i class="lni lni-plus"></i> Add New Version  <small style="color:#2593cf;font-weight:600;"> &nbsp;&nbsp; <%= viewType %>  RVM</small></h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body version-modal-body">
    <div class="placeholder-dev">
         <p>Work in progress</p>
      </div>
    <form>
  <div class="form-row">
  <div class="form-group col-md-4">
    <label for="inputEmail4">RVM Type</label>
     <select id="inputState" class="form-control">
    <option selected>Choose...</option>
    <option>Division</option>
    <option>Plant</option>
    </select>
  </div>
  <div class="form-group col-md-4">
    <label for="inputPassword4">Timeframes Type</label>
     <select id="inputState" class="form-control">
    <option selected>Choose...</option>
    <option>YTD</option>
    <option>Period over Period</option>
    </select>
  </div>
  <div class="form-group col-md-4">
    <label for="inputPassword4">Comparisons Type</label>
     <select id="inputState" class="form-control">
    <option selected>Choose...</option>
    <option>Actuals</option>
    <option>Forecasts </option>

    </select>
  </div>
  </div>
  <div class="form-row type-2">
    <div class="col-12 period-type">
    <b>Pre Period</b>
  </div>
    <div class="form-group col-md-6">
    <label for="inputEmail4">Cost Estimate Type</label>
     <select id="inputState" class="form-control">
    <option selected>Choose...</option>
    <option>2019_P01_StandardCost</option>
    <option>2019_P02_StandardCost</option>
    <option>2019_P03_StandardCost</option>
    <option>2019_P05_StandardCost</option>
    <option>2019_P06_StandardCost</option>
    <option>2019_P07_StandardCost</option>
    <option>2019_P08_StandardCost</option>
    <option>2019_P09_StandardCost</option>
    <option>2019_P10_StandardCost</option>
    <option>2019_P11_StandardCost</option>
    <option>2019_P12_StandardCost</option>
    </select>
  </div>
  <div class="form-group col-md-6">
    <label for="inputEmail4">Tonnage Period</label>
     <select id="inputState" class="form-control">
    <option selected>Choose...</option>
    <option>2019_P01</option>
    <option>2019_P02</option>
    <option>2019_P03</option>
    <option>2019_P05</option>
    <option>2019_P06</option>
    <option>2019_P07</option>
    <option>2019_P08</option>
    <option>2019_P09</option>
    <option>2019_P10</option>
    <option>2019_P11</option>
    <option>2019_P12</option>
    </select>
  </div>

  </div>
 <div class="form-row type-2">
    <div class="col-12 period-type">
    <b>Post Period</b>
  </div>
    <div class="form-group col-md-6">
    <label for="inputEmail4">Cost Estimate Type</label>
     <select id="inputState" class="form-control">
    <option selected>Choose...</option>
    <option>2019_P01_StandardCost</option>
    <option>2019_P02_StandardCost</option>
    <option>2019_P03_StandardCost</option>
    <option>2019_P05_StandardCost</option>
    <option>2019_P06_StandardCost</option>
    <option>2019_P07_StandardCost</option>
    <option>2019_P08_StandardCost</option>
    <option>2019_P09_StandardCost</option>
    <option>2019_P10_StandardCost</option>
    <option>2019_P11_StandardCost</option>
    <option>2019_P12_StandardCost</option>
    </select>
  </div>
  <div class="form-group col-md-6">
    <label for="inputEmail4">Tonnage Period</label>
     <select id="inputState" class="form-control">
    <option selected>Choose...</option>
    <option>2019_P01</option>
    <option>2019_P02</option>
    <option>2019_P03</option>
    <option>2019_P05</option>
    <option>2019_P06</option>
    <option>2019_P07</option>
    <option>2019_P08</option>
    <option>2019_P09</option>
    <option>2019_P10</option>
    <option>2019_P11</option>
    <option>2019_P12</option>
    </select>
  </div>

  </div>




</form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary">Continue</button>
  </div>
</div>
</div>
</div>
